<%- layout("./layouts/boilerplate.ejs") %>
<style>
    .rounded-circle-img {
    width: 50px;        
    height: 50px;     
    border-radius: 50%; 
    object-fit: cover;  
    border: 2px solid #ccc;
}

</style>
<body>
    <form method="GET" action="/listings/new">
        <button>Create New Listings</button>
    </form>
    <h1>Job Posts</h1>
    <div class="rows mt-3">
        <% for(let listing of allListings) { %>
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <!-- Title -->
                    <div class="d-flex align-items-center mb-2">
                        <img src="<%= listing.logo %>" alt="Company Logo" class="rounded-circle-img">
                        <h5 class="card-title m-0"><%= listing.title %></h5>
                    </div>                    
                    <!-- Company Details-->
                    <h6 class="card-subtitle mb-2 text-muted"><%= listing.company %></h6>
                    <p class="card-text"><%= listing.description %></p>
                    <a href="/listings/<%= listing._id %>" class="card-link">Details</a>
                </div>
            </div>
        <% } %>
    </div>
</body>
